{% extends 'usertt/base.html' %}

{% block style %}

.timetable {
    background-color:skyblue;
}
{% endblock %}

{% block content %}
{% for i in messages %}
{{i}}
{% endfor %}

<div class="container timetable">
<H1><FONT COLOR="DARKCYAN"><CENTER>COLLEGE TIME TABLE</FONT></H1>
<table border="2" cellspacing="3" align="center">
<tr>
 <td align="center">
 <td>8:30-9:30
 <td>9:30-10:30
 <td>10:3-11:30
 <td>11:30-12:30
 <td>12:30-2:00
 <td>2:00-3:00
 <td>3:00-4:00
 <td>4:00-5:00
</tr>
{% for i in usertable_1 %}
<tr>
 <td align="center" contenteditable="true">{{i.c1}}
 <td align="center" contenteditable="true">{{i.c2}}
 <td align="center" contenteditable="true"><font color="blue">{{i.c3}}<br>
 <td align="center" contenteditable="true"><font color="pink">{{i.c4}}<br>
 <td align="center" contenteditable="true"><font color="red">{{i.c5}}<br>
 <td align="center" contenteditable="true">{{i.c6}}
 <td align="center" contenteditable="true"><font color="maroon">{{i.c7}}<br>
 <td align="center" contenteditable="true"><font color="brown">{{i.c8}}<br>
 <td align="center" contenteditable="true">{{i.c9}}
</tr>
{% endfor %}
{% for i in usertable_2 %}
<tr>
 <td align="center" contenteditable="true">{{i.c1}}
 <td align="center" contenteditable="true">{{i.c2}}
 <td align="center" contenteditable="true"><font color="blue">{{i.c3}}<br>
 <td align="center" contenteditable="true"><font color="pink">{{i.c4}}<br>
 <td align="center" contenteditable="true"><font color="red">{{i.c5}}<br>
 <td align="center" contenteditable="true">{{i.c6}}
 <td align="center" contenteditable="true"><font color="maroon">{{i.c7}}<br>
 <td align="center" contenteditable="true"><font color="brown">{{i.c8}}<br>
 <td align="center" contenteditable="true">{{i.c9}}
</tr>
{% endfor %}
{% for i in usertable_3 %}
<tr>
 <td align="center" contenteditable="true">{{i.c1}}
 <td align="center" contenteditable="true">{{i.c2}}
 <td align="center" contenteditable="true"><font color="blue">{{i.c3}}<br>
 <td align="center" contenteditable="true"><font color="pink">{{i.c4}}<br>
 <td align="center" contenteditable="true"><font color="red">{{i.c5}}<br>
 <td align="center" contenteditable="true">{{i.c6}}
 <td align="center" contenteditable="true"><font color="maroon">{{i.c7}}<br>
 <td align="center" contenteditable="true"><font color="brown">{{i.c8}}<br>
 <td align="center" contenteditable="true">{{i.c9}}
</tr>
{% endfor %}
{% for i in usertable_4 %}
<tr>
 <td align="center" contenteditable="true">{{i.c1}}
 <td align="center" contenteditable="true">{{i.c2}}
 <td align="center" contenteditable="true"><font color="blue">{{i.c3}}<br>
 <td align="center" contenteditable="true"><font color="pink">{{i.c4}}<br>
 <td align="center" contenteditable="true"><font color="red">{{i.c5}}<br>
 <td align="center" contenteditable="true">{{i.c6}}
 <td align="center" contenteditable="true"><font color="maroon">{{i.c7}}<br>
 <td align="center" contenteditable="true"><font color="brown">{{i.c8}}<br>
 <td align="center" contenteditable="true">{{i.c9}}
</tr>
{% endfor %}
{% for i in usertable_5 %}
<tr>
 <td align="center" contenteditable="true">{{i.c1}}
 <td align="center" contenteditable="true">{{i.c2}}
 <td align="center" contenteditable="true"><font color="blue">{{i.c3}}<br>
 <td align="center" contenteditable="true"><font color="pink">{{i.c4}}<br>
 <td align="center" contenteditable="true"><font color="red">{{i.c5}}<br>
 <td align="center" contenteditable="true">{{i.c6}}
 <td align="center" contenteditable="true"><font color="maroon">{{i.c7}}<br>
 <td align="center" contenteditable="true"><font color="brown">{{i.c8}}<br>
 <td align="center" contenteditable="true">{{i.c9}}
</tr>
{% endfor %}
{% for i in usertable_6 %}
<tr>
 <td align="center" contenteditable="true">{{i.c1}}
 <td align="center" contenteditable="true">{{i.c2}}
 <td align="center" contenteditable="true"><font color="blue">{{i.c3}}<br>
 <td align="center" contenteditable="true"><font color="pink">{{i.c4}}<br>
 <td align="center" contenteditable="true"><font color="red">{{i.c5}}<br>
 <td align="center" contenteditable="true">{{i.c6}}
 <td align="center" contenteditable="true"><font color="maroon">{{i.c7}}<br>
 <td align="center" contenteditable="true"><font color="brown">{{i.c8}}<br>
 <td align="center" contenteditable="true">{{i.c9}}
</tr>
{% endfor %}
</table>
</div>
<hr>
<div class="container">
<form action="" method="post">
{{form}}
<button type="submit" value = "submit" class = "btn btn-default">save</button>
</form>
</div>
{% endblock %}
<hr>

