
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  body {
  background-image: url("gradient_bg.png");
  background-repeat: repeat-x;
}
</style>
</head>

<br>
<div class="container container-center" style="color:black">
<div class=" jumbotron text-left col-sm-12" style="background-color:grey">
<div class=col-sm-4></div>
<form action="login" method="post"  class="col-sm-4">
    {% csrf_token %}


        <label>username:</label>
        <input type="text" name="username" class="form-control"><br>


        <label>Password:</label>
        <input type="password" name="password" class="form-control"><br>


    <button type="submit" class="btn btn-default">login</button>
</form>
</div>

<a href="register" ><button class="btn btn-danger">SignUp</button></a>
</div>
    {% for message in messages %}
    {{message}}
    {% endfor %}

  </div>


</body>
</html>